#!/bin/bash

CONFIG_DIR_ROOT={{ joinPath .chezmoi.sourceDir "config" | quote }}
CONFIG_DIR_PACKAGE="$CONFIG_DIR_ROOT/package"

find $CONFIG_DIR_PACKAGE -name "*.pkglist" | sort | xargs sed -e 's/#.*$//g' -e '/^$/d' | sudo xargs dnf install -y
