#!/bin/bash

CONFIG_DIR_ROOT={{ joinPath .chezmoi.sourceDir "config" | quote }}
CONFIG_DIR_DCONF="$CONFIG_DIR_ROOT/dconf"

MACHINE="guest"
if [[ "$HOSTNAME" =~ ^.*-host$ ]]; then
	MACHINE="host"
fi

DISTRO_ID="{{ .chezmoi.osRelease.id }}"
DCONF_FILE="$CONFIG_DIR_DCONF/$DISTRO_ID-$MACHINE.ini"

if [ ! -f "$DCONF_FILE" ]; then
	echo -e "\033[0;33mW: DConf file \"$DCONF_FILE\" not found, skipping installation…\033[0;39m"
fi

dconf load / < "$DCONF_FILE"
