#!/bin/bash

PKGS_DNF="
	curl
	flatpak
	git
	git-credential-libsecret
	google-chrome-stable
	meson
	neovim
	nodejs
	vala
	vala-language-server
	virt-manager
	wezterm
"

if [ "$PKGS_DNF" ]; then
	sudo dnf install -y $PKGS_DNF
fi
