#!/bin/bash

CONFIG_DIR_ROOT={{ joinPath .chezmoi.sourceDir "config" | quote }}
CONFIG_DIR_DCONF="$CONFIG_DIR_ROOT/dconf"

MACHINE="guest"
if [[ "$HOSTNAME" =~ ^.*-host$ ]]; then
	MACHINE="host"
fi

dconf load / < "$CONFIG_DIR_DCONF/$MACHINE.ini"
