#!/bin/bash

ARCH={{ .chezmoi.arch }}
if [ "$ARCH" -ne "amd64" ]; then
	# Google Chrome is only available on amd64 platforms
	echo -e "\033[0;33mW: Google Chrome does not support your architecture \"$ARCH\", skipping installation…\033[0;39m"
	exit 0
fi

CHROME_BASEURL=https://dl.google.com/linux/chrome/rpm/stable/x86_64

sudo dnf config-manager addrepo -y --add-or-replace --set=baseurl=$CHROME_BASEURL
sudo dnf install -y google-chrome-stable
