#!/bin/bash

PKGS_DNF="
	curl
	git
	git-credential-libsecret
	ibus-skk
	meson
	neovim
	nodejs
	tmux
	vala
	vala-language-server
"

if [[ "$HOSTNAME" =~ ^.*-host$ ]]; then
	PKGS_DNF="$PKGS_DNF
		flatpak
		virt-manager
	"
fi

if [ "$PKGS_DNF" ]; then
	sudo dnf install -y $PKGS_DNF
fi
