#!/bin/bash

CONFIG_DIR={{ joinPath .chezmoi.sourceDir "config" | quote }}

for file in "$CONFIG_DIR/*.dnfrepo"; do
	source $file

	sudo dnf config-manager addrepo -y --add-or-replace --set=baseurl=$REPO_BASEURL
	sudo dnf install -y $DNF_PACKAGES

	unset REPO_URL
	unset DNF_PACKAGES
done
