#!/bin/bash

CONFIG_DIR={{ joinPath .chezmoi.sourceDir "config" | quote }}

for file in "$CONFIG_DIR/*.coprconf"; do
	source $file

	sudo dnf copr enable -y $PROJECT_SPEC
	sudo dnf install -y $DNF_PACKAGES

	unset PROJECT_SPEC
	unset DNF_PACKAGES
done
