#!/bin/bash

CONFIG_DIR={{ joinPath .chezmoi.sourceDir "config" .chezmoi.osRelease.id | quote }}

sudo pkcon refresh
find $CONFIG_DIR -name "*.pkglist" | sort | xargs sed '/^#/d' | sudo xargs pkcon install -y --allow-reinstall
