#!/bin/bash

CONFIG_DIR={{ joinPath .chezmoi.sourceDir "config" | quote }}

for f in "$CONFIG_DIR/*.flatpakconf"; do
	source $f

	flatpak remote-add --if-not-exists --user $REMOTE_NAME $REMOTE_URL
	flatpak install -y --user $REMOTE_NAME $INSTALL_ID

	unset REMOTE_NAME
	unset REMOTE_URL
	unset INSTALL_ID
done
