#!/bin/bash
# dconf.ini hash: {{ joinPath .chezmoi.sourceDir "chezmoi.d" "fedora" "dconf.ini" | include | sha256sum }}

{{ if eq .chezmoi.osRelease.id "fedora" }}

CWD={{ joinPath .chezmoi.sourceDir "chezmoi.d" "fedora" | quote }}

dconf load / < $CWD/dconf.ini

{{ end }}
