#!/bin/bash

# I don't need any additional Flatpak apps on guest machines for now
{{ if contains .chezmoi.hostname "-host" -}}
{{   template "chezmoiscripts.d/10-install-flatpak-tools.sh.tmpl" . }}
{{   include "../install/10-install-flatpak-tools.sh" }}
{{ end -}}
