#!/bin/bash

which snap > /dev/null
if [ $? -ne 0 ]; then
	exit 0
fi

PKGS_SNAP=""

PKGS_SNAP_CLASSIC="
	nvim
"

if [ -n "$PKGS_SNAP" ]; then
	sudo snap install $PKGS_SNAP
fi

if [ -n "$PKGS_SNAP_CLASSIC" ]; then
	sudo snap install --classic $PKGS_SNAP_CLASSIC
fi
