#!/bin/bash

{{ if eq .chezmoi.osRelease.id "fedora" }}

CWD={{ joinPath .chezmoi.sourceDir "config" "fedora" | quote }}

sed '/^#/d' < $(find $CWD -name "*.dnfpkglist" | sort) | sudo xargs dnf install -y

{{ end }}
